@import '../../../stylesheets/mixins';

$button-color: rgba(0,0,0, 0.54);
$button-color-focus: #333;
$button-size: 16px;

.ump-sidenav--back {
  display: flex;
  font-size: 14px;
  outline: 0;
  height: 32px;
  align-items: center;
  margin-left: $side-item-left-space;
  cursor: pointer;
  color: $button-color;
  md-icon {
    @include icon-size($button-size);
    margin: 0;
  }
  .material-icons {
    font-size: 16px;
    font-size: inherit;
  }
  .button-text {
    margin-left: 12px;
  }
}
