@import '../../../stylesheets/mixins';

$button-color: rgba(0,0,0, 0.54);
$button-color-focus: #333;
$button-size: 16px;

.ump-sidenav--back {
  @include icon-size($button-size);

  color: $button-color;
  cursor: pointer;
  margin-left: $side-item-left-space;

  .material-icons {
    font-size: 16px;
    font-size: inherit;
  }
}
