@import '../../../stylesheets/variables';

.ump-sidenav--project-list {
  display: block;
  margin: 10px 0;
}

.ump-sidenav--project-item {
  display: flex;
  font-weight: 500;
  height: $side-item-height;
  margin: 0;
  padding-left: $side-item-left-space;
  text-align: left;
  text-transform: initial;
  width: 100%;

  md-icon {
    font-size: 12px;
    margin: 10px 0 0 3px;
  }
}

.ump-sidenav--project-name {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}
