@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.ump-sidenav--heading {
  @include sidenav-item-base();

  border-left: 2px solid transparent;
  transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    background: $side-item-focus-bg;
  }

  md-icon {
    @include icon-size(16px);

    color: rgba(0, 0, 0, 0.54);
    margin: 0 20px;
  }

  &.active {
    font-weight: 500;
    color: $color-primary;
    border-left-color: $color-primary;

    md-icon {
      color: $color-primary;
    }
  }

  .ump-sidenav--section-toggle {
    margin-left: auto;
    margin-right: 20px;
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

    &.isOpen {
      transform: rotate(-90deg);
    }
  }
}

.ump-sidenav--submenu {
  height: 0;
  overflow: hidden;

  &.isOpen {
    height: 100%;
  }
}

.ump-sidenav--subitem {
  @include sidenav-item-base();

  border-left: 2px solid transparent;
  padding-left: 72px;

  &.active {
    font-weight: 500;
    color: $color-primary;
    border-left-color: $color-primary;
  }
}
