@import "../../../stylesheets/variables";
@import "../../../stylesheets/mixins";

.ump-sidenav--heading {
  @include sidenav-item-base();
  border-left: 3px solid transparent;

  &:hover {
    background: $side-item-focus-bg;
  }

  md-icon {
    @include icon-size(16px);

    color: rgba(0, 0, 0, 0.54);
    margin: 0 20px;
  }

  .ump-sidenav--section-toggle {
    margin-left: auto;
    margin-right: 20px;
  }
}

.ump-sidenav--submenu {
  height: 0;
  overflow: hidden;

  &.isOpen {
    height: 100%;
  }
}

.ump-sidenav--subitem {
  @include sidenav-item-base();

  border-left: 3px solid transparent;
  padding-left: 70px;

  &.active {
    font-weight: 500;
    color: $color-primary;
    border-left-color: $color-primary;
  }
}
